
@font-face {
  font-family: "AvenirBook";
  src: url("../fonts/Avenir/Avenir-Book.eot");
  src: url("../fonts/Avenir/Avenir-Book.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Avenir/Avenir-Book.woff") format("woff"),
  url("../fonts/Avenir/Avenir-Book.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "AvenirLight";
  src: url("../fonts/Avenir/Avenir-Light.eot");
  src: url("../fonts/Avenir/Avenir-Light.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Avenir/Avenir-Light.woff") format("woff"),
  url("../fonts/Avenir/Avenir-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


@font-face {
  font-family: "AvenirMedium";
  src: url("../fonts/Avenir/Avenir-Medium.eot");
  src: url("../fonts/Avenir/Avenir-Medium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Avenir/Avenir-Medium.woff") format("woff"),
  url("../fonts/Avenir/Avenir-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}