.btn {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 55px;
  padding: 5px 35px;
  min-width: 240px;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
  border-color: #2E2E2E;
  background-color: #2E2E2E;
  color: #fff;
  font-family: $font-family;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
  outline: 0;
  box-shadow: none;
  transition: all 0.2s;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
  
  &:hover,
  &:focus {
    border-color: #0E0E0E;
    background-color: #0E0E0E;
  }
  
  &:active {
    background-color: darken($color-gray-10, 5%);
  }
}

.btn_disabled {
  border-color: #c4c4c4;
  background-color: #c4c4c4;
  color: #fff;
  cursor: default;

  &:hover,
  &:active,
  &:focus {
    border-color: #c4c4c4;
    background-color: #c4c4c4;
    color: #fff;
  }
}

.btn_standart {
  border-color: $color-blue-30;
  background-color: $color-blue-30;
  color: $color-white;

  &:hover,
  &:focus {
    border-color: $color-blue-50;
    background-color: $color-blue-50;
  }

  &:active {
    border-color: darken($color-blue-50, 5%);
    background-color: darken($color-blue-50, 5%);
  }
}


.btn_attach {
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  box-shadow: none;
  outline: 0;
  color: $color-blue-30;
  font-family: $font-family_bold;
  overflow: hidden;
  cursor: pointer;
  
  &:hover {
    color: $color-blue-50;
  }

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: auto;
    height: auto;
    font-size: 20px;
    cursor: pointer;
  }

  &.btn_disabled > input[type=file] {
    display: none;
  }
}

.btn_upload {
  overflow: hidden;

  & > input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: auto;
    height: auto;
    font-size: 20px;
    cursor: pointer;
  }

  &.btn_disabled > input[type=file] {
    display: none;
  }
}